<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    {%load static%}

    <!-- my css -->

    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
</head>
<body>

    <div class="parent-container">


        <div class="nav-bar-container">

            <div class="nav-bar">
                <a href="login" class="nav-item">Home</a>
                <a href="show_login" class="nav-item">Login</a>
                <a href="signup_page" class="nav-item">SignUp</a>
            </div>

        </div>


        <div class="content-container">


            <div class="content">

                <h1>ABOUT US:</h1>
                
                <p> <span>VYSAKH BEAUTY SPA</span> is an unisex beauty spa situated in Vadakkencherry a town in Palakkad district. We offer you best beauty services and also guarantee a quality services at reasonable prices. We are passionate about bringing out the inner beauty of our clients through our comprehensive range of services, including haircuts, makeup artistry, rejuvenating massages, and much more. 
                    With years of experience in the beauty industry, our dedicated team of stylists, makeup artists, and massage therapists are committed to providing exceptional service and creating transformative experiences for our valued clients.
                    Your satisfaction is our top priority. From the moment you step through our doors, our friendly and knowledgeable team will ensure you receive the highest level of care, attention, and professionalism throughout your visit.
                    Join the growing community of satisfied clients who have experienced the transformative power of our services at Vysakh Beauty Spa. Let us be your trusted partner in enhancing your natural beauty and providing you with an unforgettable salon experience.
                </p>

            </div>
        </div>


        <div class="footer">

            <div class="social_icons">
                <a href="https://wa.me/8111953006"><img src="{%static 'icons/whatsapp.svg' %}" alt=""></a>
                <a href="https://www.instagram.com/vipinsasidharan"><img src="{%static 'icons/instagram - Negative.svg' %}" alt=""></a>
                <a href="https://www.facebook.com/Vysakh beauty parlor"><img src="{%static 'icons/facebook.svg' %}" alt=""></a>
                
                
                
            </div>

        </div>

    </div>
    
</body>
</html>